body {
    background-color: lightblue;
}

@font-face {
    font-family: 'PlayfulMonalisaSans';
    src: local("PlayfulMonalisaSans"),
        url('./fonts/PlayfulMonalisaSans.otf') format('opentype');
    font-weight: normal;
}

.custom-header {
    font-family: 'PlayfulMonalisaSans', serif;
    font-size: 90px;
    color: white;
    filter: drop-shadow(5px 5px #000000);
}