body {
    background-color: lightblue;
    background-size: 100% 100%;
    background-attachment: fixed;
}

@font-face {
    font-family: 'PlayfulMonalisaSans';
    src: local("PlayfulMonalisaSans"),
        url('./fonts/PlayfulMonalisaSans.otf') format('opentype');
    font-weight: normal;
}

.custom-header {
    font-family: 'PlayfulMonalisaSans', serif;
    font-size: 90px;
    color: white;
    filter: drop-shadow(5px 5px #000000);
}

input[type="text"] {
    width: 300px;
    height: 40px;
    border-radius: 15px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    outline: none;
}

input[type="text"]::placeholder {
    color: #888;
}

input[type="submit"] {
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #66bb6a;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #4caf50;
}

